<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/hospital.css')}}">
    <title>BloodHub</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo" src="" alt="logo">
                <img src="{{url_for('static',filename='/img/BloodHub.png')}}" alt="">
            </div>
            <ul class="nav d-flex justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-danger m-2" href="#">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-danger m-2">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <br>
    <h2> All Blood Requests </h2>
    <br>
    <section class="table_body">
        <table>
            <thead>
                <tr>
                    <th>Demand Poster</th>
                    <th>Patient's Name </th>
                    <th>National ID Card</th>
                    <th>Blood Type</th>
                    <th>Number of Donors</th>
                    <th>Action</th>
                    <th>Achieved</th>
                </tr>
            </thead>
            <tbody>
                {%for hospital in all%}
                <tr>
                    <td></td>
                    <td>Matilda Gomez</td>
                    <td>25314665</td>
                    <td>O+</td>
                    <td>
                {%endfor%}
                        <a href="" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">1</a>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title fs-7 text-danger " id="exampleModalLabel">List Of Donors</h2>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Donor's Name</th>
                                                    <th>National ID Card</th>
                                                    <th>Blood Type</th>
                                                    <th>Place of Donation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Leonel Messi</td>
                                                    <td>21569873</td>
                                                    <td>O-</td>
                                                    <td>Habib Thameur Hospital</td>
                                                    
                                                </tr>                                
                                            </tbody>                                                               
                                        </table>
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td class='select'>
                        <a class='button1' href='#'>
                            validate
                        </a>
                        <a class='button2' href='#'>
                            decline
                        </a>
                    </td>

                    <td>
                        <div class="radio">
                            <input type="radio" name="yes">
                            <label for="yes">YES</label>
                            <input type="radio" name="no">
                            <label for="no">NO</label>
                        </div>
                    </td>
                    
                </tr>

                <tr>
                    <td>Mira Charles</td>
                    <td>Marc Charles</td>
                    <td>25697431</td>
                    <td>A+</td>
                    <td>
                        <a href="" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">1</a>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">List Of Donors</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Donor's Name</th>
                                                    <th>National ID Card</th>
                                                    <th>Blood Type</th>
                                                    <th>Place of Donation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Leonel Messi</td>
                                                    <td>21569873</td>
                                                    <td>O-</td>
                                                    <td>Habib Thameur Hospital</td>
                                                    
                                                </tr>
                                
                                                <tr>
                                                    <td>Sarah Peter</td>
                                                    <td>16975234</td>
                                                    <td>A+</td>
                                                    <td>Mongi Hospital</td>                    
                                                </tr>
                                
                                                </tbody>
                                
                                                </td>                                
                                        </table>
                                    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class='select'>
                        <a class='button1' href='#'>
                            validate
                        </a>
                        <a class='button2' href='#'>
                            decline
                        </a>
                    </td>
                    <td>
                        <div class="radio">
                            <input type="radio" name="yes">
                            <label for="yes">YES</label>
                            <input type="radio" name="no">
                            <label for="no">NO</label>
                        </div>
                    </td>


                </tr>

            </tbody>

            </td>

        </table>
    </section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>



</body>

</html>