@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* ================================ Basic CSS =============================== */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins',serif; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

img {
  max-width: 100%;
  background: transparent; 
}

.logo{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo h4{
  font-family: 'Poppins',sans-serif;
  color: #ba0e0e;
}

.logo i{
  size: 10px;
  color: #ba0e0e;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

ul, ol {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0px; }

input:focus {
  box-shadow: none; }

a:hover {
  text-decoration: none; }

.container {
  max-width: 1170px; }
  @media screen and (max-width: 575px) {
    .container {
      padding: 0px 15px;
      max-width: 100%;
      width: 100%; } }

/* ================================ Header CSS =============================== */
.my-nav {
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #ba0e0e;
  /* padding: 10px 0px; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; 
  background: #fff;
/* backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px ); */
}
  .my-nav .nav-items {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    max-width: 100%;
    width: 100%; }
    @media (max-width: 768px) {
      .my-nav .nav-items {
        align-items: center; } }
    .my-nav .nav-items .logo {
      width: 20%;
      max-width: 20%;
      flex: 1 1 20%;
      padding: 10px 15px; }
      @media screen and (max-width: 767.98px) {
        .my-nav .nav-items .logo {
          width: 100%;
          max-width: 100%;
          flex: 1 1 100%; } }
    .my-nav .nav-items .menu-items {
      width: 80%;
      max-width: 80%;
      flex: 1 1 90%;
      position: relative; }
      @media screen and (max-width: 767.98px) {
        .my-nav .nav-items .menu-items {
          width: 100%;
          max-width: 100%;
          flex: 1 1 100%; } }
      .my-nav .nav-items .menu-items .menu {
        display: block;
        float: right;
        padding: 10px 15px; }
        @media screen and (max-width: 767.98px) {
          .my-nav .nav-items .menu-items .menu {
            float: left;
            display: none;
            background: rgba(0, 33, 71, 0.9);
            width: 100%;
            position: relative; } }
        .my-nav .nav-items .menu-items .menu ul li {
          display: inline-block;
          padding: 10px;
          font-size: 16px;
          font-weight: 500; }
          @media screen and (max-width: 767.98px) {
            .my-nav .nav-items .menu-items .menu ul li {
              display: block;
              padding: 10px 0px; } }
          @media (max-width: 992px) and (min-width: 768px) {
            .my-nav .nav-items .menu-items .menu ul li {
              padding: 10px 2px; } }
          .my-nav .nav-items .menu-items .menu ul li a {
            color: #101010;
            padding: 10px;
            text-transform: uppercase;
            transition: 0.5s; }
            .my-nav .nav-items .menu-items .menu ul li a:hover {
              color: #ba0e0e; }
            @media screen and (max-width: 767.98px) {
              .my-nav .nav-items .menu-items .menu ul li a {
                padding: 10px 0px; } }

.og-hf {
  background: rgba(71, 71, 69);
  position: fixed;
  height: 77px;
  z-index: 999;
  width: 100%;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; }
  .og-hf .my-nav {
    padding: 0px; }

.menu-toggle {
  display: none;
  height: 40px;
  width: 40px;
  margin: 10px 0 0 40px;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  position: absolute;
  right: 0;
  top: 7px; }

.menu-toggle::before {
  position: absolute;
  content: "\f0c9";
  font-size: 26px;
  color: #fff;
  font-family: "Font Awesome 5 Pro"; }

.menu-toggle.active::before {
  content: "\f00d"; }

@media (max-width: 768px) {
  .menu-toggle {
    visibility: visible;
    opacity: 1;
    display: block; }

  .menu.active {
    display: block !important;
    position: relative;
    top: 0; } }
/* ================================ Slider CSS =============================== */
.slider {
  position: relative;
  overflow: hidden;
  z-index: 9; }
  /* .slider .carousel-inner .carousel-item::before {
    position: absolute;
    content: "";
     background: rgba(2, 2, 2, 0.8); 
    height: 100%;
    width: 100%; } */
  .slider .carousel-inner .carousel-item .carousel-caption {
    top: 35%;
    display: block;
    transition: ease-in 0.5s; }
    @media screen and (max-width: 991.98px) {
      .slider .carousel-inner .carousel-item .carousel-caption {
        display: none; } }
    @media (max-width: 1199.98px) and (min-width: 992px) {
      .slider .carousel-inner .carousel-item .carousel-caption {
        top: 20%; } }
    .slider .carousel-inner .carousel-item .carousel-caption h2 {
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: normal;
      letter-spacing: 1px;
      color: #fff;
      margin: 0 0 1rem 0;
      display: inline-block; }
    .slider .carousel-inner .carousel-item .carousel-caption p {
      font-size: 20px;
      text-transform: capitalize;
      letter-spacing: 0.5px;
      margin: 10px 0px;
      color: #fff;
      display: block;
      font-weight: 100;
      line-height: 35px; }
    .slider .carousel-inner .carousel-item .carousel-caption .button-01 {
      display: inline-block;
      margin: 20px 0px;
      text-align: center;
      position: relative; }
      .slider .carousel-inner .carousel-item .carousel-caption .button-01 ul li {
        display: inline-block;
        padding: 8px 10px;
        border: solid 1px #fff; }
        .slider .carousel-inner .carousel-item .carousel-caption .button-01 ul li:nth-child(1) {
          margin-right: 20px;
          background: #dc000e;
          border: 1px solid #dc000e;
          color: #002147; }
        .slider .carousel-inner .carousel-item .carousel-caption .button-01 ul li a {
          font-size: 0.9rem;
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 0.4px; }

/* ================================ Section CSS =============================== */
.bg-01 {
  padding: 50px 0px;
  background: #eef6ff;
  position: relative;
  overflow: hidden; }
  .bg-01 .se-box {
    display: block;
    margin: 20px 0px;
    padding: 20px 25px;
    position: relative;
    text-align: center; }
    .bg-01 .se-box .icon {
      padding: 0 0 10px 0px;
      position: relative;
      display: block;
      height: 60px;
      width: 130px;
      border-radius: 20px;
      line-height: 60px;
      text-align: center;
      margin: 0px auto;
      /* color: #dc000e; */
      font-size: 50px;
      transition: 0.5s;
      font-weight: 700; }
      .bg-01 .se-box .icon::before {
        position: absolute;
        content: "";
        width: 150px;
        height: 80px;
        border-radius: 20px;
        left: -10px;
        top: -10px;
        border: 2px solid #dc000e; }
      .bg-01 .se-box .icon:hover {
        background:#f55e45;
        color: #fff; }
    .bg-01 .se-box .content {
      padding: 20px 0px;
      position: relative;
      display: inline-block; }
      .bg-01 .se-box .content h3 {
        font-size: 20px;
        color: #222222;
        text-transform: capitalize;
        margin: 10px 0 0 0; }
      .bg-01 .se-box .content p {
        color: #373738;
        font-size: 15px;
        line-height: 26px;
        margin: 10px 0px 20px 0px; }

.bg-02 {
  padding: 50px 0px;
  position: relative;
  background: #fff;
  z-index: 9; }
  .bg-02 .featured-box {
    position: relative;
    display: block;
    margin: 20px 0px;
    padding: 10px 20px; }
    .bg-02 .featured-box .content {
      display: block;
      position: relative;
      padding: 10px 20px;
      position: relative;
      border: 1px solid #dddd;
      border-top: 0px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }
      .bg-02 .featured-box .content h3 {
        font-size: 20px;
        color: #222222; }
      .bg-02 .featured-box .content p {
        padding: 10px 0px;
        color: #373738;
        font-size: 14px;
        font-weight: 500; }
      .bg-02 .featured-box .content ol li {
        display: inline-block;
        padding: 0 6px 0 0;
        border-right: 1px solid #dddd;
        color: #373738;
        font-size: 13px; }
        .bg-02 .featured-box .content ol li:nth-child(3) {
          border: none; }
    .bg-02 .featured-box .feature-card {
      position: relative;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      overflow: hidden;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center; }
      .bg-02 .featured-box .feature-card a {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        transition: ease-in-out 0.9s;
        visibility: hidden;
        opacity: 0;
        background: #002147;
        z-index: 2; }
      .bg-02 .featured-box .feature-card:hover a {
        visibility: visible;
        opacity: 1; }
      .bg-02 .featured-box .feature-card:hover::before {
        height: 100%; }
      .bg-02 .featured-box .feature-card::before {
        position: absolute;
        content: "";
        background: #dc000e;
        opacity: 0.8;
        width: 100%;
        top: 0;
        height: 0;
        transition: ease-in-out 0.4s;
        z-index: 1; }

.bg-03 {
  padding: 50px 0px;
  background-image: url(/flask_app/static/img/homepics/background/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 9; }
  .bg-03 ._lk_bg_cd {
    padding: 20px 25px;
    position: relative;
    display: block;
    z-index: 8;
    text-align: center; }
    .bg-03 ._lk_bg_cd i {
      font-size: 30px;
      color: #fff;
      display: block;
      padding: 10px 0px; }
    .bg-03 ._lk_bg_cd .counting {
      display: block;
      font-size: 20px;
      color: #dc000e;
      font-weight: 600; }
    .bg-03 ._lk_bg_cd h5 {
      font-size: 18px;
      color: #fff;
      padding: 10px 0px;
      display: inline-block; }

.team {
  padding: 50px 0px;
  position: relative;
  overflow: hidden; }
  .team .team-card {
    position: relative;
    display: block;
    padding: 20px 25px; }
    .team .team-card .image-team {
      overflow: hidden;
      display: inline-block;
      margin-bottom: 10px; }
    .team .team-card .team-content {
      display: block;
      text-align: center; }
      .team .team-card .team-content h3 {
        font-size: 18px;
        font-weight: 500;
        color: #002147;
        padding: 0 0 5px 0; }
      .team .team-card .team-content p {
        display: block;
        font-size: 15px;
        color: #fff;
        padding: 0 0 10px 0; }
      .team .team-card .team-content ol li {
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        background: #002147;
        color: #fff;
        transition: ease-in-out 0.5s;
        padding: 0 5px;
        position: relative;
        border-radius: 50%; }
        .team .team-card .team-content ol li:hover {
          background: #dc000e; }

.bg-04 {
  padding: 50px 0px;
  background: #eef6ff;
  position: relative;
  overflow: hidden; }
  .bg-04 ._lk_bg_sd_we {
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0px 0px 15px 0px #ddd; }
    .bg-04 ._lk_bg_sd_we ._xs_we_er {
      display: inline-block;
      width: 100%;
      padding: 15px; }
      .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w {
        position: relative;
        margin: 10px 0px;
        z-index: 2;
        overflow: hidden; }
        .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w p {
          font-size: 16px;
          color: #5c5c5c;
          letter-spacing: 0.2px;
          line-height: 24px;
          margin: 15px 0px 10px 0px; }
        .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w ol li {
          color: #f55e45;
          font-size: 14px;
          display: inline-block;
          width: 100%; }
          .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w ol li ._mn_cd_xs {
            margin: 0 10px; }
          .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w ol li span {
            color: #5c5c5c;
            font-size: 15px;
            font-weight: 500;
            margin: 0 5px 0 0; }
        .bg-04 ._lk_bg_sd_we ._xs_we_er ._he_w h3 {
          font-size: 18px;
          font-weight: 400;
          color: #292929; }
    .bg-04 ._lk_bg_sd_we ._bv_xs_we {
      position: relative;
      z-index: 1;
      background: url("{{ url_for('static', filename='img/homepics/blog/blog_2.jpg') }}");
      background-repeat: no-repeat !important;
      height: 300px;
      background-size: cover !important;
      background-position: center !important; }
      .bg-04 ._lk_bg_sd_we ._bv_xs_we:hover::before {
        opacity: 0.8;
        width: 100%;
        visibility: visible;
        transition: 0.5s; }
      .bg-04 ._lk_bg_sd_we ._bv_xs_we::before {
        content: "";
        position: absolute;
        width: 0;
        height: 100%;
        top: 0;
        background: #002147;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden; }

.heading {
  position: relative;
  padding: 0px 0 20px 0px;
  display: block;
  text-align: center;
  z-index: 99; }
  .heading h2 {
    font-size: 25px;
    color: #002147;
    font-weight: 800;
    letter-spacing: 0.4px;
    text-transform: uppercase; }
  .heading p {
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #373738;
    margin: 10px 0px;
    font-weight: 400;
    line-height: 27px;
    text-transform: capitalize; }

.bg-02-a {
  padding: 150px 0px 80px 0px;
  background: url(/flask_app/static/img/homepics/slider/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #fff; }
  .bg-02-a::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%; }
  .bg-02-a ._head_01 {
    position: relative;
    display: block;
    margin: 20px auto; }
    .bg-02-a ._head_01 h2 {
      font-size: 23px;
      font-weight: 500;
      margin: 0px;
      padding: 0 0 10px 0;
      color: #fff; }
    .bg-02-a ._head_01 p {
      margin: 10px 0px;
      font-size: 18px;
      font-weight: 300; }
      .bg-02-a ._head_01 p i {
        font-size: 20px;
        margin: 0 10px;
        position: relative;
        top: 3px;
        color: #dc000e; }
      .bg-02-a ._head_01 p span {
        color: #dc000e; }

.se-001 {
  padding: 40px 0px;
  position: relative;
  overflow: hidden; }
  .se-001 .yu {
    text-align: center; }
  .se-001 ._Ol_er_qw {
    margin: 20px 0px;
    padding: 10px; }
    .se-001 ._Ol_er_qw p {
      font-size: 15px;
      color: #222222;
      text-align: left;
      letter-spacing: 0.5px;
      line-height: 28px; }

._pl_rt {
  padding: 40px 0px;
  position: relative; }
  ._pl_rt ._lo_we_ds {
    background: #dc000e;
    color: #fff;
    padding: 30px 50px;
    position: relative;
    top: 55px;
    z-index: 9;
    box-shadow: 0px 0px 3px 0px #ddd; }
    ._pl_rt ._lo_we_ds ._ol_we_as {
      position: relative;
      padding: 10px 20px;
      display: inline-block; }
      ._pl_rt ._lo_we_ds ._ol_we_as ol li {
        display: block;
        position: relative;
        padding: 0 0 0 40px; }
        ._pl_rt ._lo_we_ds ._ol_we_as ol li h3 {
          color: #fff;
          font-size: 20px; }
        ._pl_rt ._lo_we_ds ._ol_we_as ol li i {
          position: absolute;
          left: 0;
          font-size: 26px;
          color: #fff;
          display: flex;
          align-items: center;
          height: 100%; }
    @media screen and (max-width: 768px) {
      ._pl_rt ._lo_we_ds {
        padding: 20px 0px; } }

.my-pla {
  padding: 40px 0px;
  background-image: url(/flask_app/static/img/homepics/background/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  z-index: 9; }
  .my-pla::before {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.2); }
  .my-pla .form-group {
    margin: 10px 0px;
    color: #fff;
    position: relative;
    z-index: 2; }
    .my-pla .form-group .form-control {
      background: transparent;
      color: #fff;
      border: 1px solid #fff;
      min-height: 45px;
      border-radius: 4px;
      margin: 10px 0px; }
      /* ================================ Process =============================== */
      /* :root{
        --background-dark: #2d3548;
        --text-light: rgba(255,255,255,0.6);
        --text-lighter: rgba(255,255,255,0.9);
        --spacing-s: 8px;
        --spacing-m: 16px;
        --spacing-l: 24px;
        --spacing-xl: 32px;
        --spacing-xxl: 64px;
        --width-container: 1200px;
      }
      
      *{
        border: 0;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      } */
      
     
      .hero-section{
        align-items: center;
        background-image: linear-gradient(15deg, white 150%);
        min-height: 100%;
        min-width: 100%;
        padding: var(--spacing-xxl) var(--spacing-l);
        margin-bottom: 20px;
        
      }
      
      .card-grid{
        display: grid;
        
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: var(--spacing-l);
        grid-row-gap: var(--spacing-l);
        max-width: var(--width-container);
        
      }
      
      @media(min-width: 540px){
        .card-grid{
          grid-template-columns: repeat(2, 1fr); 
        }
      }
      
      @media(min-width: 960px){
        .card-grid{
          grid-template-columns: repeat(4, 1fr); 
        }
      }
      
      .card{
        list-style: none;
        position: relative;
        min-width: 350px;
        margin-left: 100px;
      }
      
      .card:before{
        content: '';
        display: block;
        padding-bottom: 150%;
        width: 100%;
      }
      
      .card__background1{
        background-image: url('../img/Wavy_Gen-01_Single-07.jpg');
        background-size: cover;
        background-position: center;
        border-radius: var(--spacing-l);
        bottom: 0;
        filter: brightness(0.75) saturate(1.2) contrast(0.85);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: center;
        transform: scale(1) translateZ(0);
        transition: 
          filter 200ms linear,
          transform 200ms linear;
      }
      .card__background2{
        background-image: url('../img/AdobeStock_96077494_Preview.jpeg');
        background-size: cover;
        background-position: center;
        border-radius: var(--spacing-l);
        bottom: 0;
        filter: brightness(0.75) saturate(1.2) contrast(0.85);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: center;
        transform: scale(1) translateZ(0);
        transition: 
          filter 200ms linear,
          transform 200ms linear;
      }
      .card__background3{
        background-image: url('../img/AdobeStock_174948675_Preview.jpeg');
        background-size: cover;
        background-position: center;
        border-radius: var(--spacing-l);
        bottom: 0;
        filter: brightness(0.75) saturate(1.2) contrast(0.85);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: center;
        transform: scale(1) translateZ(0);
        transition: 
          filter 200ms linear,
          transform 200ms linear;
      }
      
      .card:hover .card__background{
        transform: scale(1.05) translateZ(0);
      }
      
      .card-grid:hover > .card:not(:hover) .card__background{
        filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
      }
      
      .card__content{
        left: 0;
        padding: var(--spacing-l);
        position: absolute;
        top: 0;
      }
      
      .card__category{
        color: var(--text-light);
        font-size: 0.9rem;
        margin-bottom: var(--spacing-s);
        text-transform: uppercase;
      }
      
      .card__heading{
        color: var(--text-lighter);
        font-size: 1.9rem;
        text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
        line-height: 1.4;
        word-spacing: 100vw;
        
      }
      /* ================================ About Us =============================== */

      .about-us {
        padding: 50px;
        background-color: #FFF; }
        @media screen and (max-width: 940px) {
          .about-us {
            padding: 30px 10px; } }
        .about-us .text p {
          font-weight: 600;
          /* font-size: .85rem; */
          color: #000;
          margin-top: 80px;
          text-align: justify; }
        .about-us .image img {
          width: 80%;
          margin-top: 30px; }

/* ================================ Footer CSS =============================== */
footer {
  padding: 50px 0px 0px;
  position: relative;
  background-image: url('../img/homepics/background/1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }
  footer ._kl_de_w {
    margin: 20px 0px;
    padding: 10px 0px;
    position: relative; }
    @media screen and (max-width: 576px) {
      footer ._kl_de_w {
        margin: 10px 0 0 0; } }
    footer ._kl_de_w .form-group a {
      text-align: left;
      padding: 6px 18px;
      border-radius: 1px;
      color: #fff;
      background: #dc000e;
      font-size: 15px;
      display: inline-block; }
    footer ._kl_de_w ol li {
      display: block;
      margin: 0 25px 0 0;
      padding: 10px 0px;
      border-top: 1px solid #5f5c5c;
      color: #fff;
      font-size: 15px; }
      footer ._kl_de_w ol li i {
        margin-right: 12px;
        color: #dc000e; }
      @media screen and (max-width: 768px) {
        footer ._kl_de_w ol li {
          margin: 0px; } }
    footer ._kl_de_w p {
      font-size: 15px;
      line-height: 26px;
      color: #fff; }
    footer ._kl_de_w h3 {
      font-size: 20px;
      margin: 0 0 20px 0;
      color: #fff; }
  footer .copy-right {
    position: relative;
    padding: 15px 0px;
    border-top: solid 1px #afafaf; }
    footer .copy-right p {
      font-size: 15px;
      color: #ddd;
      text-align: center; }
      footer .copy-right p a {
        color: #dc000e;
        font-weight: 600;
        text-transform: uppercase;
        padding-left: 15px; }

/*# sourceMappingURL=style.css.map */


h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }