
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body {
display: grid;
height: 100vh;
place-items: center;
background: #fff;
}

img{
width: 200px;
height: 100px;
}
.main_div {
width: 800px;
background: #fff;
margin-bottom: 50px;
padding: 30px;
border-radius: 5px;
box-shadow: 5px 10px 15px rgba(73, 7, 7, 0.15);
}

.main_div .title {
text-align: center;
font-size: 30px;
font-weight: 500;
color: #ba0e0e;
}

form .input_box {
height: 60px;
width: 100%;
position: relative;
margin-top: 15px;
display: flex;
align-items: center;
justify-content: space-between;
}
.input_box input {
height: 50%;
width: 50%;
outline: none;
/* border: 1px solid lightgrey; */
border: none;
border-radius: 8px;
padding-left: 48px;
font-size: 15x;
transition: all 0.3s ease;
}


.input_box label {
width: 20%;
margin-left: 8px;
font-size: 15px;
color: #333;
text-align: justify center;
width: 100px;
}

.input_box .icon{
width: 30%;
}

.main_div .input-group button{
margin-top: 20px;
width: 250px;
text-align: center;
font-size: 13px;
font-weight: 500;
cursor: pointer;
transition: all 0.3s linear;
}

#fs{
    border: 1px solid lightgray;
}